# Filter each stationary frame

In [848]:
import itertools
import json
import os
import random
import time
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D
from pathlib import Path
from utils.filter_eval import evaluate_filter

## Constants and such

In [850]:
# Set background map resolutions
azimuth_resolution = 0.05
height_resolution = 0.25
std_dev_cutoff = 1.5

In [851]:
DATA_DIR_ROOT = '../data'

In [852]:
# Set to true if you want to make a new distances table, otherwise, will load previous map
# Set everything to false if you just want to filter frames
make_new_distances_df = True
make_new_lookup_table = True
new_grid_search = False

## First, functions for making background map

In [854]:
# Create mappings for azimuth and height using integers
def create_mappings(azimuth_step=azimuth_resolution, height_step=height_resolution):
    azimuth_range = np.arange(-180, 180 + azimuth_step, azimuth_step)
    # print(azimuth_range)
    height_range = np.arange(-30, 10 + height_step, height_step)
    azimuth_map = {int(az * 10): idx for idx, az in enumerate(azimuth_range)}
    height_map = {int(ht * 10): idx for idx, ht in enumerate(height_range)}
    return azimuth_map, height_map

In [855]:
test, _ = create_mappings()

In [856]:
# print(test)

In [857]:
# Create mappings for azimuth and height using integers
def create_mappings(azimuth_step=azimuth_resolution, height_step=height_resolution):
    # Create ranges and multiply by 10 to convert to integers
    azimuth_range = np.arange(-180, 180 + azimuth_step, azimuth_step) * 100
    print(azimuth_range)
    
    height_range = np.arange(-30, 10 + height_step, height_step) * 100
    
    # Convert to integers and create dictionaries to map azimuth/height to index
    azimuth_map = {int(az): idx for idx, az in enumerate(azimuth_range)}
    height_map = {int(ht): idx for idx, ht in enumerate(height_range)}
    return azimuth_map, height_map

In [858]:
test, _ = create_mappings()

[-18000.         -17995.         -17990.         ...  17990.00000001
  17995.00000001  18000.00000001]

In [859]:
# Create the grid DataFrames
def create_grid_dataframes():
    azimuth_map, height_map = create_mappings()
    grid_shape = (len(height_map), len(azimuth_map))
    df_distances = pd.DataFrame({key: [[] for _ in range(len(height_map))] \
                                 for key in azimuth_map.keys()}, index=height_map.keys())
    df_intensities = pd.DataFrame({key: [[] for _ in range(len(height_map))] \
                                   for key in azimuth_map.keys()}, index=height_map.keys())
    return df_distances, df_intensities, azimuth_map, height_map

In [860]:
test_df, _, _, _ = create_grid_dataframes()

[-18000.         -17995.         -17990.         ...  17990.00000001
  17995.00000001  18000.00000001]

In [861]:
test_df

,-18000,-17995,-17989,-17984,-17979,-17974,-17969,-17964,-17959,-17954,...,17955,17960,17965,17970,17975,17980,17985,17990,17995,18000
-3000,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
-2975,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
-2950,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
-2925,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
-2900,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
925,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
950,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
975,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
1000,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]

In [862]:
# Process file into grid
def process_files_to_grid(data_dir):
    # Create empty grid
    df_distances, df_intensities, azimuth_map, height_map = create_grid_dataframes()

    lidar_dir = Path(data_dir, 'velodyne_points')
    # For each file in the directory
    for file_path in lidar_dir.iterdir():
    # for file_path in itertools.islice(lidar_dir.iterdir(), 100):
        print('.', end ='')
        data = np.fromfile(file_path, dtype=np.float32).reshape(-1, 4)
        for x, y, z, intensity in data:
            # Convert to azimuth, height, distance format
            distance = np.sqrt(x**2 + y**2 + z**2)
            azimuth = np.degrees(np.arctan2(y, x))
            height = np.degrees(np.arctan2(z, np.sqrt(x**2 + y**2)))
            # Convert and scale
            # azimuth_idx = int(np.floor((azimuth + 180) / azimuth_resolution) * azimuth_resolution * 100) - 18000
            # height_idx = int(np.floor((height + 30) / height_resolution) * height_resolution * 100) - 3000

            azimuth_idx = (np.floor((azimuth + 180) / azimuth_resolution) * azimuth_resolution * 100 - 18000).astype(int)
            height_idx = (np.floor((height + 30) / height_resolution) * height_resolution * 100 - 3000).astype(int)

            
            # Update DataFrames directly using indices
            if azimuth_idx in azimuth_map and height_idx in height_map:
                df_distances.at[height_idx, azimuth_idx].append(distance)
                # df_intensities.at[height_idx, azimuth_idx].append(intensity)
    # return df_distances, df_intensities
    return df_distances

In [863]:
def get_distances_dataframe(dir):
    # Get the distances of the background map from the lidar files
    # if make_new_map or not files_exist("df_distances.pkl", "df_intensities.pkl"):
    if make_new_distances_df:
        df_distances = process_files_to_grid(dir)
        
        # Save the DataFrames
        print('\nSaving dataframe')
        df_distances.to_pickle("sample_df_distances.pkl")
    else:
        # Load the DataFrames
        print('\nLoading dataframe')
        df_distances = pd.read_pickle("df_distances.pkl")
    return df_distances

In [864]:
def files_exist(*files):
    return all(os.path.exists(file) for file in files)

In [865]:
def get_cutoff_base(cutoff_base_param, distances):
    if cutoff_base_param == 'average':
        return np.mean(distances)
    elif cutoff_base_param == 'first_quartile':
        return np.percentile(distances, 25)
    elif cutoff_base_param == 'median':
        return np.median(distances)
    elif cutoff_base_param == 'third_quartile':
        return np.percentile(distances, 75)
    elif cutoff_base_param == 'maximum':
        return np.max(distances)
    else:
        print(cutoff_base_param + ' is not a valid cutoff_base value')
    return 0

In [866]:
def get_adjustment_direction_param(adjustment_direction_param, distances):
    if adjustment_direction_param == 'add':
        return 1
    elif adjustment_direction_param == 'subtract':
        return -1
    else:
        print(adjustment_direction_param + ' is not a valid adjustment_direction_param value')
    return 0

In [867]:
def get_adjustment_parameter_param(adjustment_param, distances):
    if adjustment_param == 'constant':
        return 1
    elif adjustment_param == 'standard_deviation':
        return np.std(distances)
    else:
        print(adjustment_param + ' is not a valid adjustment_param value')
    return 0

In [868]:
def get_adjustment_factor_param(adjustment_factor_param, distances):
    if adjustment_factor_param == 'average':
        return np.mean(distances)
    elif adjustment_factor_param == 'first_quartile':
        return np.percentile(distances, 25)
    elif adjustment_factor_param == 'median':
        return np.median(distances)
    elif adjustment_factor_param == 'third_quartile':
        return np.percentile(distances, 75)
    elif adjustment_factor_param == 'maximum':
        return np.max(distances)
    else:
        print(adjustment_factor_param + ' is not a valid cutoff_base value')
    return 0

In [869]:
def get_background_lookup_table(df_distances, cutoff_base_param='maximum', adjustment_direction_param='add', 
                                adjustment_param='standard_deviation', adjustment_factor=2):
    if make_new_lookup_table or new_grid_search:
        # CHANGE THIS TO USE DEFAULT OR GIVEN PARAMETERS
        # Create a new DataFrame with the same index and columns as df_distances
        lookup_table = pd.DataFrame(index=df_distances.index, columns=df_distances.columns)
        # Iterate through each cell in df_distances
        for (height, azimuth), distances in df_distances.stack().items():
            # If the list is not empty
            if distances:
                # print(distances)
                # Get cutoff value
                # cutoff_base = get_cutoff_base(cutoff_base_param, distances)
                # adj_direction = get_adjustment_direction_param(adjustment_direction_param, distances)
                # adj = get_adjustment_parameter_param(adjustment_param, distances)
                
                # value = adj_direction * (adj * adjustment_factor) + cutoff_base
                value = np.max(distances) - 0.1
                # print(value)
            else:
                # print('empty', end=', ')
                value = np.nan  # If the list is empty, set the cell to NaN
    
            # Set the value in the new DataFrame
            lookup_table.at[height, azimuth] = value

        if make_new_lookup_table: 
            # Save the DataFrames
            print('\nSaving lookup table')
            lookup_table.to_pickle("sample_lookup_table.pkl")
    else:
        # Load the DataFrames
        print('\nLoading lookup table')
        lookup_table = pd.read_pickle("dbscan_lookup_table.pkl")

    return lookup_table

In [870]:
dir = Path(DATA_DIR_ROOT)

df_distances = get_distances_dataframe(dir)

[-18000.         -17995.         -17990.         ...  17990.00000001
  17995.00000001  18000.00000001]
....................................................................................................
Saving dataframe

## Filtering and saving functions

In [872]:
def convert_to_dataframe(bin_path):
    pre_filtered_data = np.fromfile(bin_path, dtype=np.float32).reshape(-1, 4) 
    columns = ['x', 'y', 'z', 'intensity']
    df = pd.DataFrame(pre_filtered_data, columns=columns)
    return df

In [873]:
def add_lookup_coords_to_xyz(points_df):
    # print(points_df)
    # Calculate the distance, azimuth, and height using vectorized operations
    x, y, z, intensity = points_df['x'], points_df['y'], points_df['z'], points_df['intensity']
    distance = np.sqrt(x**2 + y**2 + z**2)
    azimuth = np.degrees(np.arctan2(y, x))
    # print(azimuth)
    height = np.degrees(np.arctan2(z, np.sqrt(x**2 + y**2)))
    
    # Convert and scale
    azimuth_idx = (np.floor((azimuth + 180) / azimuth_resolution) * azimuth_resolution * 100 - 18000).astype(int)
    height_idx = (np.floor((height + 30) / height_resolution) * height_resolution * 100 - 3000).astype(int)
    
    # Add new columns to dataframe
    points_df['distance'] = distance
    points_df['azimuth_idx'] = azimuth_idx
    points_df['height_idx'] = height_idx
    
    return points_df

In [874]:
def filter_points(input_file, lookup_table):
    # Get dataframe from file
    pre_filtered_points = convert_to_dataframe(input_file)

    # Add lookup table coordinates
    pre_filtered_grid_lookup = add_lookup_coords_to_xyz(pre_filtered_points)
    
    # Initialize a list to store rows that meet the criteria
    filtered_data = []

    # Iterate through each row in the input DataFrame
    # for idx, row in pre_filtered_grid_lookup.iloc[:100].iterrows():
    for idx, row in pre_filtered_grid_lookup.iterrows():
        azimuth_idx = int(row['azimuth_idx'])
        height_idx = int(row['height_idx'])
        
        # Check if the indices exist in the lookup table and the value is not NaN
        if azimuth_idx in lookup_table.columns and height_idx in lookup_table.index:
            # print('.', end='')
            lookup_value = lookup_table.at[height_idx, azimuth_idx]
            
            # if not pd.isna(lookup_value) and row['distance'] < lookup_value:
            #     # If criteria are met, add the row's x, y, z, and intensity to the filtered_data list
            #     filtered_data.append({
            #         'x': row['x'],
            #         'y': row['y'],
            #         'z': row['z'],
            #         'intensity': row['intensity']
            #     })
            if not pd.isna(lookup_value):
                if row['distance'] < lookup_value:
                    # If criteria are met, add the row's x, y, z, and intensity to the filtered_data list
                    filtered_data.append({
                        'x': row['x'],
                        'y': row['y'],
                        'z': row['z'],
                        'intensity': row['intensity']
                    })
            else:
                filtered_data.append({
                        'x': row['x'],
                        'y': row['y'],
                        'z': row['z'],
                        'intensity': row['intensity']
                    })

    # Create a DataFrame from the filtered data
    filtered_df = pd.DataFrame(filtered_data)
    return filtered_df

In [875]:
def save_as_binary(df, bin_path):
    try:
        # Ensure the DataFrame is in the correct order and data type
        data = df[['x', 'y', 'z', 'intensity']].astype(np.float32).values
        
        # Write the data to a binary file
        data.tofile(bin_path)
    except:
        print('could not save :' + str(bin_path))

In [876]:
def filter_frames(source_dir, save_dir, background_lookup_table, subset_size=1):   
    # Get just the file names
    files = [f for f in os.listdir(source_dir) if f.endswith('.bin')]

    if subset_size < 1:
        # Get subset of files to check
        random.shuffle(files)
        total_files = len(files)
        subset_num = int(total_files * subset_size)
    else:
        subset_num = len(files)
    print('Filtering frames ')
    # For each file
    for filename in files[:subset_num]:
        # Append file name to location
        print(filename, end=', ')
        from_file = Path(source_dir, filename)

        # Filter file
        filtered_df = filter_points(from_file, background_lookup_table)

        # APPEND FILE NAME TO NEW LOCATION
        to_file = Path(save_dir, filename)

        # CONVERT BACK TO BINARY and save
        save_as_binary(filtered_df, to_file)

## Grid search for lookup table

In [878]:
# Grid search parameters to find best lookup table
# parameters = {
#     'cutoff_base': ['average', 'first_quartile', 'median', 'third_quartile', 'maximum'],
#     'adjustment_direction': ['add', 'subtract'],
#     'adjustment_parameter': ['constant', 'standard_deviation'],
#     'adjustment_factor': [0, 0.5, 1, 1.5, 2]
# }

parameters = {
    'cutoff_base': ['average', 'median', 'third_quartile', 'maximum'],
    'adjustment_direction': ['add', 'subtract'],
    'adjustment_parameter': ['standard_deviation'],
    'adjustment_factor': [0, 0.5, 1, 1.5, 2]
}

parameters = {
    'cutoff_base': ['average', 'median', 'third_quartile', 'maximum'],
    'adjustment_direction': ['add', 'subtract'],
    'adjustment_parameter': ['standard_deviation'],
    'adjustment_factor': [0, 0.5, 1, 1.5, 2]
}

In [879]:
# Generate all combinations of parameters
all_combinations = list(itertools.product(
    parameters['cutoff_base'],
    parameters['adjustment_direction'],
    parameters['adjustment_parameter'],
    parameters['adjustment_factor']
))

In [880]:
for combination in all_combinations:
    print(combination)

('average', 'add', 'standard_deviation', 0)
('average', 'add', 'standard_deviation', 0.5)
('average', 'add', 'standard_deviation', 1)
('average', 'add', 'standard_deviation', 1.5)
('average', 'add', 'standard_deviation', 2)
('average', 'subtract', 'standard_deviation', 0)
('average', 'subtract', 'standard_deviation', 0.5)
('average', 'subtract', 'standard_deviation', 1)
('average', 'subtract', 'standard_deviation', 1.5)
('average', 'subtract', 'standard_deviation', 2)
('median', 'add', 'standard_deviation', 0)
('median', 'add', 'standard_deviation', 0.5)
('median', 'add', 'standard_deviation', 1)
('median', 'add', 'standard_deviation', 1.5)
('median', 'add', 'standard_deviation', 2)
('median', 'subtract', 'standard_deviation', 0)
('median', 'subtract', 'standard_deviation', 0.5)
('median', 'subtract', 'standard_deviation', 1)
('median', 'subtract', 'standard_deviation', 1.5)
('median', 'subtract', 'standard_deviation', 2)
('third_quartile', 'add', 'standard_deviation', 0)
('third_quartile', 'add', 'standard_deviation', 0.5)
('third_quartile', 'add', 'standard_deviation', 1)
('third_quartile', 'add', 'standard_deviation', 1.5)
('third_quartile', 'add', 'standard_deviation', 2)
('third_quartile', 'subtract', 'standard_deviation', 0)
('third_quartile', 'subtract', 'standard_deviation', 0.5)
('third_quartile', 'subtract', 'standard_deviation', 1)
('third_quartile', 'subtract', 'standard_deviation', 1.5)
('third_quartile', 'subtract', 'standard_deviation', 2)
('maximum', 'add', 'standard_deviation', 0)
('maximum', 'add', 'standard_deviation', 0.5)
('maximum', 'add', 'standard_deviation', 1)
('maximum', 'add', 'standard_deviation', 1.5)
('maximum', 'add', 'standard_deviation', 2)
('maximum', 'subtract', 'standard_deviation', 0)
('maximum', 'subtract', 'standard_deviation', 0.5)
('maximum', 'subtract', 'standard_deviation', 1)
('maximum', 'subtract', 'standard_deviation', 1.5)
('maximum', 'subtract', 'standard_deviation', 2)

In [881]:
def delete_contents(folder_path):
    # Check if the folder exists
    if not os.path.isdir(folder_path):
        raise ValueError(f"Folder does not exist: {folder_path}")

    # Iterate over all files in the folder and delete them
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        try:
            if os.path.isfile(file_path) or os.path.islink(file_path):
                os.unlink(file_path)  # Removes the file or link
        except Exception as e:
            print(f"Failed to delete {file_path}. Reason: {e}")

In [882]:
def get_best_params(grid_search_results):
    high_score = 0
    best_key = ''
    for param_combo_key in grid_search_results:
        score = 2.5 * grid_search_results[param_combo_key]['results']['percent_retained_label_points'] - \
                                        grid_search_results[param_combo_key]['results']['percent_retained_non_label_points']
        if score > high_score:
            high_score = score
            best_key = param_combo_key
    return grid_search_results[best_key]['parameters'], best_key

In [883]:
# Create a new folder for the filtered frames in the directory
filter_save_dir = Path(DATA_DIR_ROOT, 'sample_filtered_points')
filter_save_dir.mkdir(exist_ok=True)

lidar_dir = Path(DATA_DIR_ROOT, 'velodyne_points')
temp_lidar_dir = Path('temp_lidar')
temp_label_dir = Path('temp_label')
label_dir = Path(DATA_DIR_ROOT, 'labels')
print(lidar_dir)

..\data\velodyne_points

In [884]:
grid_search_results = {}

def find_best_lookup_table():
    # For each combination of parameters
    for params in all_combinations:
        print('Checking parameters: ' + str(params))
        # Make new lookup table
        lookup_table = get_background_lookup_table(df_distances, 
                                                   cutoff_base_param=params[0], 
                                                   adjustment_direction_param=params[1], 
                                                   adjustment_param=params[2], 
                                                   adjustment_factor=params[3])
        # Empty temp file
        delete_contents('temp_lidar')
        # delete_contents('temp_labels')
        time.sleep(3)
        # Filter subset of data
        filter_frames(lidar_dir, temp_lidar_dir, lookup_table, subset_size=.01)
        # Evaluate filtered data
        print('\nEvaluating results ')
        results = evaluate_filter(temp_lidar_dir, label_dir, 'arcs_filtered')
        print()
        for key in results:
            print(key + ': ' + str(results[key]))
        print()

        # Create parameter combination key
        param_combo_key = params[0][0] + params[0][1] + '_' + params[1][0] + '_' + params[2][0] + '_' + str(params[3])
        # Store results in results dictionary
        grid_search_results[param_combo_key] = {'parameters': params,
                                                'results': results}

    best_params, best_params_key = get_best_params(grid_search_results)

    return best_params, best_params_key

In [885]:
grid_search_results = {}
# Load, create, or use grid search to find best lookup table
if new_grid_search:
    best_params, best_param_key = find_best_lookup_table()
    background_distance_lookup_table  = get_background_lookup_table(df_distances, 
                                                   cutoff_base_param=best_params[0], 
                                                   adjustment_direction_param=best_params[1], 
                                                   adjustment_param=best_params[2], 
                                                   adjustment_factor=best_params[3])
    print('\nSaving lookup table: ' + best_param_key)
    background_distance_lookup_table.to_pickle('lookup_table_' + best_param_key + '.pkl')
else:
    # Create background lookup table for distance cutoffs
    background_distance_lookup_table = get_background_lookup_table(df_distances)

Saving lookup table

In [886]:
print(grid_search_results)

{}

In [887]:
background_distance_lookup_table

,-18000,-17995,-17989,-17984,-17979,-17974,-17969,-17964,-17959,-17954,...,17955,17960,17965,17970,17975,17980,17985,17990,17995,18000
-3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [888]:
# filled_lookup_table = background_distance_lookup_table.fillna(method='ffill', axis=0).fillna(method='bfill', axis=0)  # Fill along rows
# filled_lookup_table = filled_lookup_table.fillna(method='ffill', axis=1).fillna(method='bfill', axis=1) 
filled_lookup_table = background_distance_lookup_table.ffill(axis=0).bfill(axis=0)  # Fill along rows
filled_lookup_table = filled_lookup_table.ffill(axis=1).bfill(axis=1)

C:\Users\gilya\AppData\Local\Temp\ipykernel_5732\2900473312.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  filled_lookup_table = background_distance_lookup_table.ffill(axis=0).bfill(axis=0)  # Fill along rows

In [889]:
filled_lookup_table

,-18000,-17995,-17989,-17984,-17979,-17974,-17969,-17964,-17959,-17954,...,17955,17960,17965,17970,17975,17980,17985,17990,17995,18000
-3000,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,...,3.736,3.736,3.736001,3.736,3.736000,3.736001,3.736000,3.736001,3.736001,3.736001
-2975,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,...,3.736,3.736,3.736001,3.736,3.736000,3.736001,3.736000,3.736001,3.736001,3.736001
-2950,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,...,3.736,3.736,3.736001,3.736,3.736000,3.736001,3.736000,3.736001,3.736001,3.736001
-2925,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,...,3.736,3.736,3.736001,3.736,3.736000,3.736001,3.736000,3.736001,3.736001,3.736001
-2900,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,3.736001,...,3.736,3.736,3.736001,3.736,3.736000,3.736001,3.736000,3.736001,3.736001,3.736001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,6.568001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,...,6.600,6.592,6.592001,6.592,6.584001,6.584001,6.576001,6.576001,6.568001,6.568001
925,6.568001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,...,6.600,6.592,6.592001,6.592,6.584001,6.584001,6.576001,6.576001,6.568001,6.568001
950,6.568001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,...,6.600,6.592,6.592001,6.592,6.584001,6.584001,6.576001,6.576001,6.568001,6.568001
975,6.568001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,...,6.600,6.592,6.592001,6.592,6.584001,6.584001,6.576001,6.576001,6.568001,6.568001
1000,6.568001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,6.560001,...,6.600,6.592,6.592001,6.592,6.584001,6.584001,6.576001,6.576001,6.568001,6.568001

In [890]:
# Filter and save each filtered frame
# save_dir = Path(DATA_DIR_ROOT, 'test_folder')
save_dir = Path(DATA_DIR_ROOT, 'filtered_points')
# filter_frames(lidar_dir, save_dir, filled_lookup_table, subset_size=0.005)
filter_frames(lidar_dir, save_dir, filled_lookup_table)

Filtering frames
003267.bin, 001164.bin, 004660.bin, 003196.bin, 003461.bin, 002936.bin, 004722.bin, 002835.bin, 000772.bin, 000275.bin, 002504.bin, 002642.bin, 001841.bin, 005803.bin, 005467.bin, 004501.bin, 002638.bin, 004295.bin, 003821.bin, 006324.bin, 001053.bin, 004399.bin, 000703.bin,